<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/board/reply.js"></script>
    <title>Get</title>
    <style>
        .container h1 {
            text-align: center;
        }
        .form-control {
            border-top: none;
            border-bottom: none;
        }
        .btn {
            float: right;
        }
        reply new {
            display: inline-block;
            height: 5vh;
        }
        reply new writer {
            width: 20px;
        }
        reply new content {
            width: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>게시글 상세보기</h1>
        <form action="modify" method="post" th:object="${board}" onkeydown="return event.key != 'Enter';">
            <input type="submit" class="btn btn-outline-warning" value="수정">
            <input type="button" class="btn btn-outline-danger" value="삭제" onclick="postAction()">
            <label for="bno"><h5>번호</h5></label>
            <input type="text" class="form-control" id="bno" name="bno" th:field="*{bno}" readonly />
            <label for="title"><h5>제목</h5></label>
            <input type="text" class="form-control" id="title" name="title" th:field="*{title}">
            <label for="content"><h5>내용</h5></label>
            <textarea class="form-control" id="content" name="content" rows="10" th:text="*{content}"></textarea>
            <label for="writer"><h5>작성자</h5></label>
            <input type="text" class="form-control" id="writer" name="writer" th:field="*{writer}" readonly />
        </form>
        <br>
        <div class="replies">
            <input type="text" class="reply new writer form-control input-sm" style="width: 20px">
            <input type="text" class="reply new content form-control input-sm">
            <table class="table">
                <thead>
                <tr>
                    <td>이름</td>
                    <td>내용</td>
                    <td>수정일</td>
                    <td>작성일</td>
                </tr>
                </thead>
                <tbody class="replier-tbody">

                </tbody>
            </table>
        </div>
    </div>
</body>
<script th:inline="javascript">
    function postAction() {
        let bno = [[${board.getBno()}]]
        location.href='delete?bno='+bno
    }

    function previous() {
        history.back();
    }

    $(this).on("keydown", function (e) { if(e.keyCode == 27) previous() })
</script>
<script th:inline="javascript">
    window.onload = function () {
        replyService.getList([[${board.getBno()}]], 1, e => {
            e.forEach(e => {
                $(".replier-tbody").append("<tr><td>"+e.replier+"</td><td>"+e.reply+"</td><td>"+e.updatedate+"</td><td>"+e.replydate+"</td></tr>")
            })
        }, (e) => console.log(e))

    }
</script>
</html>