<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <title>List</title>
  <style>
    @media (max-width: 918px) {
      .writer   { display: none; }
      .regdate   { display: none; }
      .updatedate   { display: none; }
    }

    a {
      text-decoration: none;
      color: none;
    }

    .changePage {
      color: gray;
    }

    .current {
      color: #242424;
    }
  </style>
</head>
<body>
  <div class="row justify-content-center">
    <div class="col-6">
      <h3><a href="register">글 등록</a></h3>
      <table class="table table-dark">
        <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th class="writer">작성자</th>
          <th class="regdate">작성일</th>
          <th class="updatedate">수정일</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="board:${list}">
          <tr th:object="${board}">
            <td th:text="*{bno}"></td>
            <td><a th:text="*{title}" th:href="@{/board/get(bno=*{bno})}"></a></td>
            <td class="writer" th:text="*{writer}"></td>
            <td class="regdate" th:text="*{regdate}"></td>
            <td class="updatedate" th:text="*{updatedate}"></td>
          </tr>
        </th:block>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
      <form method="get" accept-charset="list" id="searchForm" th:object="${pageMaker}">
        <div id="searchWrap" th:object="${Criteria}">
          <select name="type" class="type">
            <option value="">-검색기준-</option>
            <option value="T">제목</option>
            <option value="C">내용</option>
            <option value="W">작성자</option>
            <option value="TC">제목 또는 내용</option>
            <option value="TW">제목 또는 작성자</option>
            <option value="TCW">복합적</option>
          </select>
          <input type="text" id="keyword" name="keyword">
          <a href="javascript:void(0)" class="search btn btn-outline-info">검색</a>
        </div>
      </form>

      <div th:object="${pageMaker}">
        <div style="text-align: center">
          <a class="changePage" th:if="*{prev}" th:href="*{startPage-1}"><code>&lt;</code></a>
          <th:block th:each="num:${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
            <code class="current" th:if="${pageMaker.criteria.getPageNum() == num}" th:text="${num}"></code>
            <a class="changePage" th:unless="${pageMaker.criteria.getPageNum() == num}" th:href="${num}"><code th:text="${num}"></code></a>
          </th:block>
          <a class="changePage" th:if="*{next}" th:href="*{endPage+1}"><code>&gt;</code></a>
        </div>
        <form action="/board/list" th:object="${criteria}" name="pageForm">
          <input type="hidden" name="pageNum" th:field="*{pageNum}">
          <input type="hidden" name="amount" th:field="*{amount}">
          <input type="hidden" name="type" th:field="*{type}">
          <input type="hidden" name="keyword" th:field="*{keyword}">
        </form>
      </div>
    </div>
  </div>
</body>
<script th:inline="javascript">
  let pageForm = $(document.pageForm);
  let searchForm = $("#searchForm")
  // let bno = [[${bno}]]
  // console.log(bno)
  // window.onload = function () {
  //   if (bno == '' || history.state) {
  //     return
  //   }
  //   if (parseInt(bno) > 0) {
  //     alert("게시글 "+parseInt(bno)+"번이 등록되었습니다.")
  //   }
  // }
  // $("a.changePage").click(function (e) {
  //   pageForm.find("input[name='pageNum']").val($(this).attr("href"));
  //   pageForm.submit();
  // });
  $("#searchForm a").on("click", function (e) {
    e.preventDefault();
    if (searchForm.find("option:selected").val()) {
      if (searchForm.find("input[name='keyword']").val()) {
          searchForm.submit();
      }else {
        alert("검색내용을 입력하세요")
      }
    }else {
      alert("검색기준을 선택하세요")
    }
  })
</script>
</html>