<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.boardprac.mappers.ReplyMapper">
    <insert id="insert">
        insert into tbl_reply (rno, bno, reply, replier)
        values (seq_reply.nextval, #{bno}, #{reply}, #{replier})
    </insert>
    <select id="read" resultType="replyVO">
        select * from
                    tbl_reply
        where rno = #{rno}
    </select>
    <delete id="delete">
        delete from tbl_reply where rno = #{rno}
    </delete>
    <update id="update">
        update tbl_reply set
                             reply = #{reply},
                             replier = #{replier},
                             updatedate = sysdate
        where rno like #{rno}
    </update>
    <select id="getListWithPaging" resultType="replyVO">
        <![CDATA[
            select rno, bno, reply, replier, replydate, updatedate from (

                select /*+ index_desc(tbl_reply pk_reply) */
                    rownum rn, rno, bno, reply, replier, replydate, updatedate
                from tbl_reply
                where bno = #{bno}
                    and rownum <= #{cri.pageNum}*#{cri.amount}
                                                                        )
            where rn > (#{cri.pageNum}-1)*#{cri.amount}
        ]]>
    </select>
    <select id="getTotal" resultType="int">
        <![CDATA[
            select count(*) from tbl_reply where bno like #{bno}
        ]]>
    </select>
</mapper>