<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 열결할 인터페이스 경로를 namespace에 작성 -->
<mapper namespace="com.board.boardprac.mappers.TimeMapper">
    <select id="getTime" resultType="string">
        select sysdate from dual
    </select>
</mapper>