section.container {
    margin: 0 auto;
    width: 90vw; /* 내 상위의 90% 너비 */
    overflow: hidden;
    position: relative;
    height: fit-content;

}

div.banner {
    width: 540vw;
}

div.img {
    width: 90vw;
    float: left;
}

div.img img {
    width: 100%;
    display: block;
}

div.btns {
    position: absolute;
    top: 90%;
    width: 90vw;
    text-align: center;
}

div.arrow {
    position: absolute;
    width: 35px;
    background-color: rgba(0, 0, 0, 0.103);
    height: 100%;
    line-height: 45vh;
    text-align: center;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.329);
    z-index: 1;
    cursor: pointer;
}

div.next {
    right: 0;
}

div.prev {
    left: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.btns .btn {
    border-radius: 5px;
    border: 0px;
    background-color: rgba(135, 206, 235, 0.3);
}

div.btns .btn:hover {
    font-size: larger;
}