<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Test Result</title>
<!-- CSS only -->
<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="row justify-content-center">
<div class="col-6">
    <br>
	<table class="table table-dark">
		<thead>
			<tr>
				<th>Kor</th>
				<th>Eng</th>
				<th>Math</th>
				<th>Avg</th>
			</tr>
		</thead>
		<tbody>
			<tr th:object="${dto}">
				<td th:text="*{kor}"></td>
				<td th:text="*{eng}"></td>
				<td th:text="*{math}"></td>
				<td th:text="*{(kor+eng+math)/num}"></td>
			</tr>
		</tbody>
	</table>
</div>
</div>	
</body>
</html>