<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View Test</title>
</head>
<body>
	<h1>여기에는 사실 게시판이 들어가야 됩니다. 1</h1>
	
	<table class="table" order='1'>
		<tr>
			<th>name</th>
			<th>email</th>
			<th>organization</th>
		</tr>
		<tr th:object="${dto}">
			<td th:text="*{name}"></td>
			<td th:text="*{email}"></td>
			<td th:text="*{organization}"></td>
			<!-- 
			<td th:text="${dto.getName()}"></td>
			<td th:text="${dto.getEmail()}"></td>
			<td th:text="${dto.getOrganization}"></td>
			-->
			
			<!-- *{kor + math + eng} -->
		</tr>
	</table>
</body>
</html>